<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <h1>Forgot Password</h1>
    <div th:if="${error != null}">
        <p style="color: red">[[${error}]]</p>
    </div>
    <div th:if="${message != null}">
        <p style="color: green">[[${message}]]</p>
    </div>
    <form method="post">
        <label>Email</label>
        <div>
            <input id="email" name="email" type="email" value="" required />
            <button type="submit">Send</button>
        </div>
    </form>
    <a th:href="@{/registration.html}">
        Registration
    </a>
    <a th:href="@{/login}">Login</a>
</body>
</html>