<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="post">
        <div>
            <input type="hidden" name="token" th:value="${token}"/>
        </div>
        <div>
            <label>New password</label>
            <input id="newPassword" name="password" type="password" value="" required />
        </div>
        <div>
          <label>Confirm New Password</label>
        <input id="confirmNewPassword" name="confirmNewPassword" type="password" value="" required />
        </div>
        <button type="submit">Send</button>
  </form>
</body>
</html>